@keyframes slide-up-menu {
	0% {
		transform: translateY(50%);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes opacity-menu {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.slideUpMenuSvg {
	animation: slide-up-menu .3s ease-out 4s both, opacity-menu .3s linear 4.0s both;
}

.slideUpMenuBorder {
	animation: slide-up-menu .3s ease-out 4s both, opacity-menu .6s linear 4.2s both;

}

@keyframes border-appear {
	0% {
		border-width: 0;
		opacity: 0;
	}

	50% {
		border-width: 0 1px 0 1px;
		opacity: 0.5;
	}

	100% {
		border-width: 1px;
		opacity: 1;
	}
}

.borderAnimate {
	animation: border-appear .3s ease-out 4.2s both, slide-up-menu .3s ease-out 4.2s both;
}