.container {
	background: url("../../../public/images/section-1.jpg") no-repeat center center fixed;
	background-size: cover;
	animation: 15s linear infinite bgAnim;
}

@keyframes bgAnim {
	0% {
		background-position: center;
		transform: scale(1);
	}

	25% {
		background-position: left;
		transform: scale(1.025);
	}

	50% {
		background-position: center;
		transform: scale(1.025);
	}

	75% {
		background-position: right;
		transform: scale(1.025);
	}

	100% {
		background-position: center;
		transform: scale(1);
	}
}