.slideUpRotate {
	animation: slide-up-rotate 0.3s ease-out both;
}

@keyframes slide-up-rotate {
	0% {
		transform: translateY(100%) rotate(2deg);
	}

	100% {
		transform: translateY(0) rotate(0);
	}
}

.slideUpOpacity {
	animation: slide-up-opacity 0.3s ease-out both;
}

@keyframes slide-up-opacity {
	0% {
		transform: translateY(50%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1
	}
}


.slideRightOpacity {
	animation: slide-right-opacity 0.3s ease-out both;
}

@keyframes slide-right-opacity {
	0% {
		transform: translateX(-30%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1
	}
}