.active {
  visibility: visible;
}

.active.svgLoadDev path {
  stroke-dasharray: 1408;
  stroke-dashoffset: 1408;
  animation: drawLoad 1s linear forwards;
}

.hover .active.svgLoadDev path {
  stroke-dasharray: 1408;
  stroke-dashoffset: 0;
  animation: drawHover 1s linear 0.8s forwards;
}

.active.svgLoadConst path {
  stroke-dasharray: 2050;
  stroke-dashoffset: 2050;
  animation: drawLoad 1s linear 0.8s forwards;
}

@keyframes drawLoad {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawHover {
  100% {
    stroke-dashoffset: 1408;
  }
}

.active.loadImageDev {
  animation: loadImage 1s linear forwards;
  transform: scale(1.25);
  clip-path: xywh(0 0 0 100%);
}

.hover .active.loadImageDev {
  transform: scale(1);
  clip-path: xywh(0 0 100% 100%);
  animation: imageHover 1s linear forwards;
}

@keyframes imageHover {
  100% {
    transform: scale(1.25);
    clip-path: xywh(0 0 0 100%);
  }
}

.active.loadImageConst {
  animation: loadImage 1s linear forwards;
  transform: scale(1.25);
  clip-path: xywh(0 0 0 100%);
}

@keyframes loadImage {
  100% {
    transform: scale(1);
    clip-path: xywh(0 0 100% 100%);
  }
}

.active.loadTextDev {
  animation: loadText 1s ease-in-out forwards;
  transform: translateY(100%);
  opacity: 0;
}

.active.loadTextConst {
  animation: loadText 1s ease-in-out forwards;
  transform: translateY(100%);
  opacity: 0;
}

@keyframes loadText {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.active.loadTitleDev {
  transform: translateY(100%) rotate(2deg);
  animation: loadTitle 1s ease-in-out forwards;
}

.active.loadTitleConst {
  transform: translateY(100%) rotate(2deg);
  animation: loadTitle 1s ease-in-out forwards;
}

@keyframes loadTitle {
  100% {
    transform: translateY(0) rotate(0);
  }
}

.devBuildSvgHover {
  visibility: hidden;
  opacity: 0;
}

.hover .active.devBuildSvgHover {
  visibility: visible;
  opacity: 1;
  transition:
    visibility 0s linear 300ms,
    opacity 300ms;
}

.hover .active.devBuildSvgHover path {
  stroke-dasharray: 1034;
  stroke-dashoffset: 1034;
  animation: devBuildPathHover 1s linear 1.6s forwards;
}

.hover .active.devBuildSvgHover line:nth-child(1) {
  stroke-dasharray: 296;
  stroke-dashoffset: -296;
  animation: devBuildPathHover 0.4s linear 2.4s forwards;
}

.hover .active.devBuildSvgHover line:nth-child(2) {
  stroke-dasharray: 266;
  stroke-dashoffset: 266;
  animation: devBuildPathHover 0.5s linear 2.5s forwards;
}

.hover .active.devBuildSvgHover line:nth-child(3) {
  stroke-dasharray: 394;
  stroke-dashoffset: 394;
  animation: devBuildPathHover 0.5s linear 2s forwards;
}

@keyframes devBuildPathHover {
  100% {
    stroke-dashoffset: 0;
  }
}
