.shadow {
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px 1px 0 #fff;
}

.marque {
	animation: marqueAnimate 5s linear infinite;
}

.marque:hover {
	animation-play-state: paused;
}

@keyframes marqueAnimate {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-50% + 30px));
	}
}

.active {
	visibility: visible;
}

.active .loadTitle {
	animation: slideUpOpacity 1s ease-in-out both;
}

.active .loadTitleDescr {
	animation: slideUpRotate 1s ease-in-out both;
}


@keyframes slideUpRotate {
	0% {
		transform: translateY(100%) rotate(2deg);
	}

	100% {
		transform: translateY(0) rotate(0);
	}
}

@keyframes slideUpOpacity {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}