.container {
	position: relative;
	width: 100vw;
	min-width: 375px;
	height: 100svh;
	background: url("../../../src/images/section-1.jpg") no-repeat center center fixed;
	background-size: cover;
	overflow: hidden;
	color: #fff;
}

.svg {
	width: 100%;
	height: 100svh;
	fill: none;
	background-image: none;
	& #vectorLongLast {
		position: relative;
		transition: all 1s ease;
		fill:#fff;
	}
}

/* #VectorLong::before {
	content: '1';
	position: absolute;
	height: 100px;
	width: 100px;
	z-index: 12;
} */

.loader {
	position: absolute;
	left: 50%;
	bottom: clamp(50px, 6.5%, 65px);
	font-size: 25px;
	font-weight: 700;
	transform: translateX(-50%);
}